<header>
    <h1>Home- Productos</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div>
            <ul id="products-list"></ul>
        </div>
    </section>
    <button id="btn-refresh-products-list">Recargar Lista</button>
</main>

<script src="/api/public/js/products.js"></script>