<header>
    <h1>Home- Productos en tiempo real</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div>
            <ul id="products-list"></ul>
        </div>
    </section>

    <section>
        <h3>Formulario para ingresar productos</h3>
        <h3>Productos</h3>
        <form id="products-form" enctype="multipart/form-data" method="POST" action="/api/products">
            <input type="text" name="title" placeholder="Nombre">
            <input type="text" name="category" placeholder="Categoría">
            <input type="text" name="description" placeholder="Descripción">
            <div>Activo <input type="checkbox" name="status"></div>
            <input type="text" name="code" placeholder="Código">
            <input type="number" name="price" placeholder="Precio">
            <input type="number" name="stock" placeholder="Stock">
            <input type="file" name="thumbnail" placeholder="Imagen">

            <input type="submit" value="Guardar">
        </form>
    </section>
    <section>
        <h3>Eliminar producto</h3>
        <div>
            <input type="number" id="input-product-id">
            <button id="btn-delete-product">Eliminar</button>
        </div>
    </section>

    <p id="error-message" style="color: brown;"></p>
</main>



{{!-- El script de socket.io debe estar antes que home.js --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>